#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: $main-color;
  height: 100%;
  color: #fff;
}

html {
  font-size: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  height: 100%;
}

.ant-btn {
  &-icon-only {
    width: 1.8rem;
    height: 1.8rem;
    min-width: unset;
    border: solid 0.2rem #333;
    box-sizing: border-box;
    color: #fff;
    background-image: radial-gradient(#25238C, #372C7D, #6D5CAE, #8EADE2, #fff);

    &:hover {
      color: #fff;
      background-image: radial-gradient(#25238C, #372C7D, #6D5CAE, #8EADE2, #fff);
      border-color: #8EADE2;
    }
  }

  &[disabled] {
    color: #fff;
    background-image: radial-gradient(#817BBA, #A9A0CD, #ADA5CF, #B9B0D4, #fff);
      border-color: #333;

      &:hover {
        color: #fff;
        background-image: radial-gradient(#817BBA, #A9A0CD, #ADA5CF, #B9B0D4, #fff);
      border-color: #333;
      }
  }

  .anticon {
    font-size: 0.75rem;
  }
}