// height

$upper-panel-height: 9rem;


// radius area
$main-radius: 0.3rem;


// color area

$main-color: #2A2B3F;

$upper-panel-background-color1: #4D5079;
$upper-panel-background-color2: #1D1E33;

$upper-panel-header-background-color: #13141F;

$lower-panel-background-color1: #191b3e;

