// radius area
$main-radius: 0.3rem;


// color area

$main-color: #2A2B3F;

$upper-pannel-background-color1: #4D5079;
$upper-pannel-background-color2: #1D1E33;

$upper-pannel-header-background-color: #13141F;